@{
    ViewData["Title"] = "MyJobs";
}

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">

        <header class="main-header paddingtop">
            <nav class="navbar navbar-static-top">

                <div class="collapse navbar-collapse pull-left" id="navbar-collapse" style="margin-top: 3rem;">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a asp-area="" asp-controller="Home" asp-action="Myjobs" >My Jobs <span class="sr-only">(current)</span></a>
                        </li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Activejobs" >Active Jobs</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Machine" >Machine <span class="sr-only">(current)</span></a></li>

                    </ul>

                </div>
                <!-- /.navbar-collapse -->
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user-menu" style="padding-right:1rem;">
                            <i class="fa fa-user text-white" style="font-size: 6rem;"></i>
                        </li>

                        <li class="dropdown user-menu text-right">
                            <span class="text-white">Wednesday 9/  23/2023</span><br>
                            <span class="text-white" style="font-size:3rem">8:40 PM</span>

                        </li>


                    </ul>
                </div>

            </nav>
        </header>


    </div>

    <div class="col-md-2"></div>

</div>



<div class="row" style="padding-top:1rem;">

    <!-- left slider -->
    <div class="col-md-2">

        <div class="box-header">
            <div class="box-body ">


                <div class="text-center padding-bottom">
                    <a   class="mybutton">
                        <i class="fa fa-coffee icon_fix" aria-hidden="true"></i>
                    </a><br>
                    <h4 class="login_text_text">Break</h4>
                </div>

                <div class="text-center padding-bottom">
                    <a   class="mybutton">
                        <i class="fa fa-tasks icon_fix" aria-hidden="true"></i>
                    </a><br>
                    <h4 class="login_text_text">Activity</h4>
                </div>


                <div class="text-center padding-bottom">
                    <a   class="mybutton">
                        <i class="fa fa-filter icon_fix" aria-hidden="true"></i>
                    </a><br>
                    <h4 class="login_text_text text-center">Filter</h4>
                </div>


                <div class="text-center padding-bottom">
                    <a asp-area="" asp-controller="Home" asp-action="Index"  class="mybutton">
                        <i class="fa fa-sign-out icon_fix" aria-hidden="true"></i>
                    </a><br>
                    <h4 class="login_text_text">Leave</h4>
                </div>

            </div>
        </div>
    </div>

    <!-- content -->
    <div class="col-md-8" style=" height:100vh; border-radius: 1rem; background-color: #2e3958;">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr class="text-white text-center">
                            <th> <i class="fa fa-check"></i></th>
                            <th> </th>
                            <th>Order</th>
                            <th>Description</th>
                            <th>Product</th>
                            <th>Requested</th>
                            <th>Started</th>
                            <th>Completed</th>
                            <th>Scrapped</th>
                            <th>Remaining</th>
                        </tr>
                    </thead>
                    <tbody class="login_text_text">
                        <tr>
                            <td class="text-center"><input type="checkbox" id="checkid" name="checkid" value=""></td>
                            <td class="text-center text-success"><i class="fa fa-fw fa-play"></i></td>
                            <td>B03294</td>
                            <td>Filling</td>
                            <td>9034</td>
                            <td>100.00</td>
                            <td>80</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>100.00</td>
                        </tr>

                        <tr>
                            <td class="text-center "><input type="checkbox" id="checkid" name="checkid" value=""></td>
                            <td class="text-center text-success"><i class="fa fa-fw fa-play"></i></td>
                            <td>B03294</td>
                            <td>Filling</td>
                            <td>9034</td>
                            <td>100.00</td>
                            <td>4.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>100.00</td>
                        </tr>

                        <tr>
                            <td class="text-center"><input type="checkbox" id="checkid" name="checkid" value=""></td>
                            <td class="text-center text-success"><i class="fa fa-fw fa-play"></i></td>
                            <td>B03294</td>
                            <td>Filling</td>
                            <td>9034</td>
                            <td>100.00</td>
                            <td>4</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>100.00</td>
                        </tr>


                        <tr>
                            <td class="text-center"><input type="checkbox" id="checkid" name="checkid" value=""></td>
                            <td class="text-center text-danger"><i class="fa fa-fw fa-pause"></i></td>
                            <td>B03294</td>
                            <td>Filling</td>
                            <td>9034</td>
                            <td>100.00</td>
                            <td> </td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>100.00</td>
                        </tr>


                        <tr>
                            <td class="text-center"><input type="checkbox" id="checkid" name="checkid" value=""></td>
                            <td class="text-center text-danger"><i class="fa fa-fw fa-pause"></i></td>
                            <td>B03294</td>
                            <td>Filling</td>
                            <td>9034</td>
                            <td>100.00</td>
                            <td> </td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>100.00</td>
                        </tr>


                        <tr>
                            <td class="text-center"><input type="checkbox" id="checkid" name="checkid" value=""></td>
                            <td class="text-center text-danger"><i class="fa fa-fw fa-pause"></i></td>
                            <td>B03294</td>
                            <td>Filling</td>
                            <td>9034</td>
                            <td>100.00</td>
                            <td> </td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>100.00</td>
                        </tr>

                        <tr>
                            <td class="text-center"><input type="checkbox" id="checkid" name="checkid" value=""></td>
                            <td class="text-center text-success"><i class="fa fa-fw fa-play"></i></td>
                            <td>B03294</td>
                            <td>Filling</td>
                            <td>9034</td>
                            <td>100.00</td>
                            <td> </td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>100.00</td>
                        </tr>


                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->





        <div class="box box-solid">

            <div class="box-header">

                <div class="box-tools pull-right ">
                    <button type="button" class="btn btn-default btn-sm " data-widget="collapse">
                        <i class="fa fa-angle-down login_text" style="font-size:4rem;"></i>
                    </button>
                </div>
            </div>


            <!-- /.box-header -->
            <div id="myBody" class="box-body" style="padding-bottom:3rem; display:none;">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="box-title text-white"><i class="fa fa-fw fa-play text-success "></i>  Filling . Primary . 10</h3>
                        <br>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">

                        <div class="col-md-4">
                            <img src="~/dist/img/bottle.png" width="80" height="100" alt="User Image">
                        </div>

                        <div class="col-md-8 text-center">

                            <!-- <p>Job Type</p> -->
                            <span class="login_text_text">Job Type</span><br>
                            <span class="login_text">Product</span>
                            <br><br>

                            <span class="login_text_text">Product</span><br>
                            <span class="login_text">0923023</span>
                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="col-md-12 ">

                            <span class="login_text_text">From</span><br>
                            <span class="login_text">4/06/2023</span>
                            <br><br>

                            <span class="login_text_text">Previous operation</span><br>
                            <span class="login_text">None</span>
                        </div>
                    </div>

                    <div class="col-md-3">

                        <div class="col-md-12">

                            <span class="login_text_text">To</span><br>
                            <span class="login_text">14/08/2023</span>
                            <br><br>

                            <span class="login_text_text">Active employee</span><br>
                            <span class="login_text">Employee name</span>

                        </div>
                    </div>


                    <div class="col-md-2">
                        <input type="text" class="knob dial" data-thickness="0.2" value="26" data-width="80" data-height="80" data-fgColor="#bce2fd" data-bgColor="black" data-readonly="true">




                    </div>


                </div>

            </div>
        </div>


    </div>

    <!-- right slider -->
    <div class="col-md-2" style=" ">

        <div class="box-header">
            <div class="box-body ">

                <div class="text-center padding-bottom">
                    <a asp-area="" asp-controller="Home" asp-action="Startjob"  class="mybutton">
                        <i class="fa fa-play icon_fix" aria-hidden="true"></i>
                    </a><br>
                    <h4 class="login_text_text">Start Job</h4>
                </div>

                <div class="text-center padding-bottom">
                    <a  class="mybutton">
                        <i class="fa fa-clone icon_fix" aria-hidden="true"></i>
                    </a><br>
                    <h4 class="login_text_text">Bundle</h4>
                </div>


                <div class="text-center padding-bottom">
                    <a class="mybutton">
                        <i class="fa  fa-file-text-o icon_fix" aria-hidden="true"></i>
                    </a><br>
                    <h4 class="login_text_text text-center">Instructions</h4>
                </div>
            </div>
        </div>
    </div>


</div>
